body{
    margin: 0px;
}
.logo img{
    height: 70px;
    width: 90px;
    margin-right: 10px;
    margin-left: 8px;
}

.searchbar{
    width: 900px;
}
.slide{
    width: auto;
    height: auto; 
}
.slide img{
    width: 1903px;
    height: 700px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.grid-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;  
}

.grid-cell img{
    padding: 5px;
    

}
.popular-products{
    padding: 45px;

}
.popular-products-grid{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product-slide{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.product-slide img{
    width: 500px;
    height: 400px;
}






