body{
    margin: 0px;
}
.logo img{
    height: 70px;
    width: 90px;
    margin-right: 10px;
    margin-left: 8px;
}

.searchbar{
    width: 900px;
}
.slide{
    width: auto;
    height: auto; 
}
.slide img{
    width: 1903px;
    height: 700px;
}
.cards{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}



